        <!-- process-section -->
        <section class="process-section p_relative centred">
            <div class="pattern-layer">
                <div class="pattern-2" style="background-image: url(assets/images/shape/shape-25.png);"></div>
            </div>
            <div class="auto-container">
                <div class="sec-title centred mb_85">
                    <span class="sub-title">How It Works</span>
                    <h2>How it Helps You to <br />Keep Healthy</h2>
                </div>
                <div class="inner-container p_relative">
                    <div class="shape" style="background-image: url(assets/images/shape/shape-24.png);"></div>
                    <div class="row clearfix">

                        <div class="col-lg-4 col-md-6 col-sm-12 processing-block">
                            <div class="process-block-one">
                                <div class="inner-box">
                                    <div class="image-box">
                                        <span class="count-text">01</span>
                                        <figure class="image"><img src="assets/images/resource/process-1.png" alt=""></figure>
                                    </div>
                                    <h3>Get Appointment</h3>
                                    <p>Book & pay online. We’ll match you with a trusted house cleaner</p>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-4 col-md-6 col-sm-12 processing-block">
                            <div class="process-block-one">
                                <div class="inner-box">
                                    <div class="image-box">
                                        <span class="count-text">02</span>
                                        <figure class="image"><img src="assets/images/resource/process-2.png" alt=""></figure>
                                    </div>
                                    <h3>Start Check-Up</h3>
                                    <p>Every cleaner is friendly and reliable.They have been experts</p>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-4 col-md-6 col-sm-12 processing-block">
                            <div class="process-block-one">
                                <div class="inner-box">
                                    <div class="image-box">
                                        <span class="count-text">03</span>
                                        <figure class="image"><img src="assets/images/resource/process-3.png" alt=""></figure>
                                    </div>
                                    <h3>Enjoy Healthy Life</h3>
                                    <p>Quisqu tell us risus adpis viera bibe um urna.</p>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </section>
        <!-- process-section end -->

        