{% extends 'base.html' %}

{% load static %}


{% block body %}

        <!-- Page Title -->
        <section class="page-title">

            <div class="bg-layer" style="background-image: url({% static 'images/background/ocki_2.jpg' %});"></div>

            <div class="auto-container">
                <div class="content-box">
                    <h1>Haqqımda</h1>
                    <ul class="bread-crumb clearfix">
                        <li><a href="{% url 'index' %}">Ana Səhifə</a></li>
                        <li>Haqqımda</li>
                    </ul>
                </div>
            </div>
        </section>
        <!-- End Page Title -->


        <!-- about-section -->
        <section class="about-section">
            <div class="auto-container">
                <div class="row clearfix">


                    <div class="col-lg-6 col-md-12 col-sm-12 image-column">
                        <div class="image_block_one">
                            <div class="image-box mr_30 pr_130 pb_100">
                                <div class="shape" style="background-image: url({% static 'images/shape/shape-1.png' %});"></div>
                                {% for data in whoweare %}



                                <figure class="image">
                                    <img style="width:470px ;height:470px;object-fit:cover;" src="{{data.image.url}}" alt="">
                                </figure>



                                <div class="text p_absolute r_0 b_0">
                                    <h4>Bu sahədə</h4>
                                    <h2>{{data.experience}}</h2>
                                    <h4><strong>illik</strong> təcrübə</h4>
                                    {% comment %} <h4>Təcrübə</h4> {% endcomment %}
                                </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>


                    <div class="col-lg-6 col-md-12 col-sm-12 content-column">
                        <div class="content_block_one">
                            {% for data in whoweare  %}
                            <div class="content-box ml_30">
                                <div class="sec-title left p_relative d_block mb_25">
                                    <span class="sub-title">Biz kimik?</span>
                                    <h2>{{data.title}}</h2>
                                </div>
                                <div class="text p_relative d_block">
                                    <p>{{data.text|safe}}</p>
                                </div>
                                <div class="inner-box">
                                    <div class="row clearfix">
                                        <div class="col-lg-6 col-md-6 col-sm-12 single-column">
                                            <div class="single-item">
                                                <h3>{{data.title1}}</h3>
                                                <ul class="list-style-one clearfix">
                                                    {% for title1 in data.title_1.all %}
                                                    <li>{{title1.name}}</li>

                                                    {% endfor %}
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="col-lg-6 col-md-6 col-sm-12 single-column">
                                            <div class="single-item">
                                                <h3>{{data.title2}}</h3>
                                                <ul class="list-style-one clearfix">
                                                    {% for title2 in data.title_2.all %}
                                                    <li>{{title2.name}}</li>
                                                    {% endfor %}

                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- about-section end -->















        <!-- service-style-two -->
        <section class="service-style-two about-page p_relative">
            <div class="pattern-layer">
                <div class="pattern-1 p_absolute l_20 b_20" style="background-image: url(images/shape/shape-18.png);"></div>
                <div class="pattern-2 p_absolute t_20 r_20" style="background-image: url(images/shape/shape-19.png);"></div>
            </div>
            <div class="auto-container">
                <div class="sec-title centred mb_50">
                    <span class="sub-title">Bizim Xidmətlərimiz</span>
                    <h2>Dünyaya sizin gözlərinizdən <br />baxırıq</h2>
                </div>
                <div class="row clearfix">
                    {% for service in services %}
                    <div class="col-lg-4 col-md-6 col-sm-12 service-block">
                        <div class="service-block-one wow fadeInUp animated" data-wow-delay="00ms" data-wow-duration="1500ms">
                            <div class="inner-box">
                                <figure class="image-box">
                                    <img src="{{service.image.url}}" alt="">
                                    <a href="{{service.get_absolute_url}}"><i class="fas fa-link"></i></a>
                                </figure>
                                <div class="lower-content">
                                    <div class="icon-box"><i class="icon-17"></i></div>
                                    <h3><a href="{{service.get_absolute_url}}">{{service.title}}</a></h3>
                                    <p class="p_relative d_block">{{service.text|truncatechars_html:50|safe}}</p>
                                    <div class="link p_relative d_block"><a href="{{service.get_absolute_url}}">Davamını Oxu</a></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </section>
        <!-- service-style-two end -->

















        <!-- chooseus-style-two -->
        {% for data in whyus %}
        <section class="chooseus-style-two about-page p_relative">


            <div class="shape-3 p_absolute t_0 r_0" style="background-image: url(images/shape/shape-51.png);"></div>

            <div class="shape-2" style="background-image: url(images/shape/shape-21.png);"></div>
            <div class="video-column" style="background-image: url({{data.video_image.url}});">
                <div class="video-inner">
                    <div class="video-btn">
                        <a href="{{data.video_link}}" class="lightbox-image" data-caption=""><i class="fas fa-play"></i></a>
                    </div>
                </div>
            </div>




            <div class="auto-container">
                <div class="row clearfix">
                    <div class="col-lg-6 col-md-12 col-sm-12 content-column">
                        <div class="content_block_five">

                            <div class="content-box mr_70">

                                <div class="sec-title light mb_35">
                                    <span class="sub-title">Niyə Biz ?</span>

                                    <h2 class="mb_25">{{data.title}}</h2>
                                    <p class="pt_2">{{data.text|safe}}</p>
                                </div>
                                <div class="inner-box">
                                    <div class="row clearfix">
                                        {% for offer in data.offers.all %}
                                        <div class="col-lg-6 col-md-6 col-sm-12 single-column">
                                            <div class="single-item p_relative d_block">
                                                <h4><a href="index-3.html">{{offer.title}}</a></h4>
                                                <p>{{offer.text|safe}}</p>
                                            </div>
                                        </div>
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </section>
        {% endfor %}
        <!-- chooseus-style-two end -->













        <!-- process-section -->
        <section class="process-section p_relative centred">
            <div class="pattern-layer">
                <div class="pattern-2" style="background-image: url(images/shape/shape-25.png);"></div>
            </div>
            <div class="auto-container">
                <div class="sec-title centred mb_85">

                    <span class="sub-title">Bu Necə Işləyir</span>

                    <h2>Sağlamlığınızı Qorumağa Necə Kömək Edirik</h2>
                </div>







                <div class="inner-container p_relative">

                    <div class="shape" style="background-image: url({% static 'images/shape/shape-24.png' %});"></div>


                    <div class="row clearfix">
                        {% for offer in offers %}
                        <div class="col-lg-4 col-md-6 col-sm-12 processing-block">
                            <div class="process-block-one">
                                <div class="inner-box">
                                    <div class="image-box">
                                        <span class="count-text">{{forloop.counter}}</span>

                                            <figure class="image"><img style="width:170px ;height:170px;object-fit:cover;" src="{{offer.image.url}}" alt=""></figure>

                                    </div>
                                    <h3>{{offer.title}}</h3>
                                    <p>{{offer.text|safe}}</p>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>


            </div>
        </section>
        <!-- process-section end -->

















        {% comment %}
        <!-- process-section -->
        <section class="process-section p_relative centred">
            <div class="pattern-layer">
                <div class="pattern-2" style="background-image: url(assets/images/shape/shape-25.png);"></div>
            </div>
            <div class="auto-container">
                <div class="sec-title centred mb_85">
                    <span class="sub-title">How It Works</span>
                    <h2>How it Helps You to <br />Keep Healthy</h2>
                </div>
                <div class="inner-container p_relative">
                    <div class="shape" style="background-image: url(assets/images/shape/shape-24.png);"></div>
                    <div class="row clearfix">
                        <div class="col-lg-4 col-md-6 col-sm-12 processing-block">
                            <div class="process-block-one">
                                <div class="inner-box">
                                    <div class="image-box">
                                        <span class="count-text">01</span>
                                        <figure class="image"><img src="assets/images/resource/process-1.png" alt=""></figure>
                                    </div>
                                    <h3>Get Appointment</h3>
                                    <p>Book & pay online. We’ll match you with a trusted house cleaner</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6 col-sm-12 processing-block">
                            <div class="process-block-one">
                                <div class="inner-box">
                                    <div class="image-box">
                                        <span class="count-text">02</span>
                                        <figure class="image"><img src="assets/images/resource/process-2.png" alt=""></figure>
                                    </div>
                                    <h3>Start Check-Up</h3>
                                    <p>Every cleaner is friendly and reliable.They have been experts</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6 col-sm-12 processing-block">
                            <div class="process-block-one">
                                <div class="inner-box">
                                    <div class="image-box">
                                        <span class="count-text">03</span>
                                        <figure class="image"><img src="assets/images/resource/process-3.png" alt=""></figure>
                                    </div>
                                    <h3>Enjoy Healthy Life</h3>
                                    <p>Quisqu tell us risus adpis viera bibe um urna.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- process-section end -->
        {% endcomment %}




        {% endblock body %}
