{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
{% for setting in general_settings %}
<title>{{setting.site_title}}</title>


<!-- Fav Icon -->
{% if setting.favicon %}
<link rel="icon" href="{{setting.favicon.url}}" type="image/x-icon">
{% endif %}
{% endfor %}
<!-- Google Fonts -->
<link href="../../fonts.googleapis.com/css2eeaf.css?family=Inter:wght@300;400;500;600;700;800;900&amp;display=swap" rel="stylesheet">
<link href="../../fonts.googleapis.com/css2c474.css?family=Jost:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&amp;display=swap" rel="stylesheet">
<link href="../../fonts.googleapis.com/css2c305.css?family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&amp;display=swap" rel="stylesheet">
<link href="../../fonts.googleapis.com/css25a9b.css?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&amp;display=swap" rel="stylesheet">

<!-- Stylesheets -->
<link href="{% static 'css/font-awesome-all.css' %}" rel="stylesheet">
<link href="{% static 'css/flaticon.css' %}" rel="stylesheet">
<link href="{% static 'css/owl.css' %}" rel="stylesheet">
<link href="{% static 'css/bootstrap.css' %}" rel="stylesheet">
<link href="{% static 'css/jquery.fancybox.min.css' %}" rel="stylesheet">
<link href="{% static 'css/animate.css' %}" rel="stylesheet">
<link href="{% static 'css/color.css' %}" rel="stylesheet">
<link href="{% static 'css/elpath.css' %}" rel="stylesheet">
<link href="{% static 'css/jquery-ui.css' %}" rel="stylesheet">
<link href="{% static 'css/style.css' %}" rel="stylesheet">
<link href="{% static 'css/responsive.css' %}" rel="stylesheet">

</head>


<!-- page wrapper -->
<body>

    <div class="boxed_wrapper">


        {% comment %} <!-- preloader -->
        <div class="loader-wrap">
            <div class="preloader">
                <div class="preloader-close">x</div>
                <div id="handle-preloader" class="handle-preloader">
                    <div class="animation-preloader">
                        <div class="spinner"></div>
                        <div class="txt-loading">
                            <span data-text-preloader="o" class="letters-loading">
                                o
                            </span>
                            <span data-text-preloader="p" class="letters-loading">
                                p
                            </span>
                            <span data-text-preloader="t" class="letters-loading">
                                t
                            </span>
                            <span data-text-preloader="c" class="letters-loading">
                                c
                            </span>
                            <span data-text-preloader="a" class="letters-loading">
                                a
                            </span>
                            <span data-text-preloader="r" class="letters-loading">
                                r
                            </span>
                            <span data-text-preloader="e" class="letters-loading">
                                e
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- preloader end --> {% endcomment %}





        <!-- main header -->
        <header class="main-header">
            <!-- header-top -->
            <div class="header-top">

                {% for setting in general_settings %}
                <div class="auto-container">
                    <div class="top-inner">
                        <div class="left-column">
                            <ul class="info clearfix">
                                <li><i class="icon-1"></i>E-poçt: <a href="mailto:{{setting.email}}">{{setting.email}}</a></li>
                                <li><i class="icon-2"></i>{{setting.adress}}</li>
                                <li><i class="icon-3"></i>Zəng: <a>{{setting.number}}</a></li>
                            </ul>
                        </div>
                        <div class="right-column">
                            {% comment %} <div class="schedule"><i class="icon-4"></i>Sun-Thu  08:00AM-05:00PM</div> {% endcomment %}
                            <ul class="social-links clearfix">
                                {% if setting.facebook %}
                                <li><a href="{{setting.facebook}}"><i class="fab fa-facebook-f"></i></a></li>
                                {% endif %}

                                {% if setting.instagram %}
                                <li><a href="{{setting.instagram}}"><i class="fab fa-instagram"></i></a></li>
                                {% endif %}

                                {% if setting.linkedin %}
                                <li><a href="{{setting.linkedin}}"><i class="fab fa-linkedin-in"></i></a></li>
                                {% endif %}

                                {% if setting.youtube %}
                                <li><a href="{{setting.youtube}}"><i class="fab fa-youtube"></i></a></li>
                                {% endif %}

                            </ul>

                        </div>
                    </div>
                </div>
                {% endfor %}

            </div>
            <!-- header-lower -->
            <div class="header-lower">
                <div class="auto-container">
                    <div class="outer-box">
                        {% for setting in general_settings %}

                        <div class="logo-box">
                            {% if setting.logo %}
                            <figure class="logo"><a href="{% url 'index' %}"><img style="width:183px ;height:90px;object-fit:cover;" src="{{setting.logo.url}}" alt=""></a></figure>
                            {% endif %}
                        </div>
                        {% endfor %}
                        <div class="menu-area clearfix">
                            <!--Mobile Navigation Toggler-->
                            <div class="mobile-nav-toggler">
                                <i class="icon-bar"></i>
                                <i class="icon-bar"></i>
                                <i class="icon-bar"></i>
                            </div>
                            <nav class="main-menu navbar-expand-md navbar-light">
                                <div class="collapse navbar-collapse show clearfix" id="navbarSupportedContent">
                                    <ul class="navigation clearfix">
                                        <li><a href="{% url 'index' %}">Ana Səhifə</a></li>
                                        <li><a href="{% url 'about' %}">Haqqımda</a></li>
                                        <li><a href="{% url 'services' %}">Xidmətlər</a></li>
                                        <li><a href="{% url 'blogs' %}">Bloqlar</a></li>
                                        <li><a href="{% url 'gallery' %}">Qalereya</a></li>
                                        <li><a href="{% url 'contact' %}">Əlaqə</a></li>
                                    </ul>
                                </div>
                            </nav>
                        </div>
                        <div class="nav-right">
                            {% comment %} <div class="search-box-outer search-toggler">
                                <i class="icon-5"></i>
                            </div> {% endcomment %}
                            <div class="btn-box">
                                <a href="{% url 'appointment' %}" class="theme-btn btn-one">Görüş</a>
                            </div>

                        </div>
                    </div>
                </div>
            </div>

            <!--sticky Header-->
            <div class="sticky-header">
                <div class="auto-container">
                    <div class="outer-box">
                        {% for setting in general_settings %}
                        <div class="logo-box">
                            {% if setting.logo %}
                            <figure class="logo"><a href="{% url 'index' %}"><img style="width:183px ;height:90px;object-fit:cover;" src="{{setting.logo.url}}" alt=""></a></figure>
                            {% endif %}
                        </div>
                        {% endfor %}
                        <div class="menu-area clearfix">
                            <nav class="main-menu clearfix">
                                <!--Keep This Empty / Menu will come through Javascript-->
                            </nav>
                        </div>
                        <div class="nav-right">
                            {% comment %} <div class="search-box-outer search-toggler">
                                <i class="icon-5"></i>
                            </div> {% endcomment %}

                            <div class="btn-box">
                                <a href="{% url 'appointment' %}" class="theme-btn btn-one">Görüş</a>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </header>
        <!-- main-header end -->

        <!-- Mobile Menu  -->
        <div class="mobile-menu">
            <div class="menu-backdrop"></div>
            <div class="close-btn"><i class="fas fa-times"></i></div>

            <nav class="menu-box">
                {% for setting in general_settings %}
                {% if setting.logo %}
                <div class="nav-logo"><a href="{% url 'index' %}"><img style="width:183px ;height:90px;object-fit:cover;" src="{{setting.logo.url}}" alt=""></a></div>
                {% endif %}
                <div class="menu-outer"><!--Here Menu Will Come Automatically Via Javascript / Same Menu as in Header--></div>
                <div class="contact-info">
                    <h4>Contact Info</h4>
                    <ul>
                        <li>{{setting.adress}}</li>
                        <li><a>{{setting.number}}</a></li>
                        <li><a href="mailto:{{setting.email}}">{{setting.email}}</a></li>
                    </ul>
                </div>

                <div class="social-links">
                    <ul class="clearfix">
                        {% if setting.facebook %}
                                <li><a href="{{setting.facebook}}"><i class="fab fa-facebook-f"></i></a></li>
                                {% endif %}
                                {% if setting.instagram %}
                                <li><a href="{{setting.instagram}}"><i class="fab fa-instagram"></i></a></li>
                                {% endif %}
                                {% if setting.linkedin %}
                                <li><a href="{{setting.linkedin}}"><i class="fab fa-linkedin-in"></i></a></li>
                                {% endif %}

                                {% if setting.youtube %}
                                <li><a href="{{setting.youtube}}"><i class="fab fa-youtube"></i></a></li>
                                {% endif %}

                    </ul>
                </div>
                {% endfor %}
            </nav>
        </div><!-- End Mobile Menu -->



        {% block body %}


        {% endblock body %}





 <!-- main-footer -->
 <footer class="main-footer p_relative">
    <div class="footer-top">
        <div class="auto-container">
            <div class="top-inner">
                <ul class="footer-menu">

                </ul>





                <ul class="footer-menu">
                    {% comment %} <li><a href="index-2.html"></a></li>
                    <li><a href="index-2.html">Location</a></li>
                    <li><a href="index-2.html">Contact </a></li> {% endcomment %}
                </ul>
            </div>
        </div>
    </div>











    <div class="widget-section">
        <div class="auto-container">
            <div class="row clearfix">
                <div class="col-lg-4 col-md-6 col-sm-12 footer-column">
                    <div class="about-widget footer-widget mr_40">
                        <div class="widget-title">
                            <h3>Haqqımda</h3>
                        </div>
                        <div class="widget-content">


                             <div class="footer-logo">
                                {% for setting in general_settings %}
                                {% if setting.footer_logo %}
                                <figure class="logo"><a href="index-2.html"><img style="width:183px ;height:90px; object-fit:cover;" src="{{setting.footer_logo.url}}" alt=""></a></figure>
                                {% endif %}
                                {% endfor %}
                            </div>


                            {% for setting in general_settings %}
                            <p>{{setting.footer_text}}</p>
                            <ul class="social-links clearfix">

                                {% if setting.facebook %}
                                <li><a href="{{setting.facebook}}"><i class="fab fa-facebook-f"></i></a></li>
                                {% endif %}

                                {% if setting.instagram %}
                                <li><a href="{{setting.instagram}}"><i class="fab fa-instagram"></i></a></li>
                                {% endif %}

                                {% if setting.linkedin %}
                                <li><a href="{{setting.linkedin}}"><i class="fab fa-linkedin-in"></i></a></li>
                                {% endif %}

                                {% if setting.youtube %}
                                <li><a href="{{setting.youtube}}"><i class="fab fa-youtube"></i></a></li>
                                {% endif %}

                            </ul>
                            {% endfor %}
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-12 footer-column">
                    <div class="links-widget footer-widget ml_100">
                        <div class="widget-title">
                            <h3>Linklər</h3>
                        </div>
                        <div class="widget-content">
                            <ul class="links-list clearfix">
                                <li><a href="{% url 'about' %}">Haqqımda</a></li>
                                <li><a href="{% url 'services' %}">Xidmətlər</a></li>
                                <li><a href="{% url 'index' %}">Ana Səhifə</a></li>
                                <li><a href="{% url 'gallery' %}">Qalereya</a></li>
                                <li><a href="{% url 'contact' %}">Əlaqə</a></li>
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6 col-sm-12 footer-column">
                    <div class="contact-widget footer-widget ml_50">
                        <div class="widget-title">
                            <h3>Əlaqə</h3>
                        </div>
                        <div class="widget-content">
                            <ul class="info clearfix">
                                {% for setting in general_settings %}
                                <li>{{setting.adress}}</li>
                                <li><a>{{setting.number}}</a></li>
                                <li><a href="mailto:{{setting.email}}">{{setting.email}}</a></li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-bottom centred">
        <div class="auto-container">
            <div class="copyright"><p><a href="index-2.html">Optcare</a> &copy; 2022 All Right Reserved</p></div>
        </div>
    </div>
</footer>
<!-- main-footer end -->



<!-- scroll to top -->
<button class="scroll-top scroll-to-target" data-target="html">
    <i class="fal fa-long-arrow-up"></i>
</button>

</div>


<!-- jequery plugins -->
<script src="{% static 'js/jquery.js' %}"></script>
<script src="{% static 'js/popper.min.js' %}"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>
<script src="{% static 'js/owl.js' %}"></script>
<script src="{% static 'js/calander.js' %}"></script>
<script src="{% static 'js/wow.js' %}"></script>
<script src="{% static 'js/validation.js' %}"></script>
<script src="{% static 'js/jquery.fancybox.js' %}"></script>
<script src="{% static 'js/appear.js' %}"></script>
<script src="{% static 'js/scrollbar.js' %}"></script>
<script src="{% static 'js/isotope.js' %}"></script>
<script src="{% static 'js/jquery.nice-select.min.js' %}"></script>
<script src="{% static 'js/jquery-ui.js' %}"></script>

<!-- map script -->
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA-CE0deH3Jhj6GN4YvdCFZS7DpbXexzGU"></script>
<script src="{% static 'js/gmaps.js' %}"></script>
<script src="{% static 'js/map-helper.js' %}"></script>

<!-- main-js -->
<script src="{% static 'js/script.js' %}"></script>

</body><!-- End of .page_wrapper -->

</html>
