    {% extends 'base.html' %}
{% load static %}


{% block body %}

        <!-- Page Title -->
        <section class="page-title">

            {% comment %}
                    <div class="bg-layer" style="background-image: url({% static 'images/background/page-title.jpg' %});"></div>

                    <div class="bg-layer" style="background-image: url({% static 'images/background/page-title.jpg' %});"></div>
                    <div class="bg-layer" style="background-image: url({{service.service_banner}});"></div>
                {% for service in services %}
                    <img src="{{ service.service_banner.url }}">
                {% endfor %}
                 <div class="bg-layer" style="background-image: url({{ service.service_banner.url }});"></div>
            {% endcomment %}

            <div class="bg-layer" style="background-image: url({% static 'images/background/page-title.jpg' %});"></div>
            <div class="bg-layer" style="background-image: url({{service.service_banner}});"></div>


            <div class="auto-container">

                <div class="bg-layer" style="background-image: url({% static 'images/background/page-title.jpg' %});"></div>

                <div class="content-box">
                    <h1>Xidmətlər</h1>
                    <ul class="bread-crumb clearfix">
                        <li><a href="{% url 'index' %}">Ana Səhifə</a></li>
                        <li>Xidmətlər</li>
                    </ul>
                </div>
            </div>
        </section>
        <!-- End Page Title -->


        <!-- service-style-two -->
        <section class="service-page-section p_relative">
            <div class="auto-container">
                <div class="row clearfix">
                    {% for service in services %}
                    <div class="col-lg-4 col-md-6 col-sm-12 service-block">
                        <div class="service-block-one wow fadeInUp animated" data-wow-delay="00ms" data-wow-duration="1500ms">
                            <div style="width:402px ;height:566px" class="inner-box">
                                <figure class="image-box">
                                    <img style="width:352px ;height:244px;object-fit:cover;" src="{{service.image.url}}" alt="">
                                    <a href="{{service.get_absolute_url}}"><i class="fas fa-link"></i></a>
                                </figure>
                                <div class="lower-content">
                                    <div class="icon-box"><i class="icon-17"></i></div>
                                    <h3><a href="{{service.get_absolute_url}}">{{service.title}}</a></h3>
                                    <p class="p_relative d_block">{{service.text|truncatechars_html:50|safe}}</p>
                                    <div class="link p_relative d_block"><a href="{{service.get_absolute_url}}">Davamını Oxu</a></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </section>
        <!-- service-style-two end -->


        <!-- subscribe-section -->
        {% comment %} <section class="subscribe-section p_relative bg-color-2">
            <div class="auto-container">
                <div class="row clearfix">
                    <div class="col-lg-6 col-md-12 col-sm-12 text-column">
                        <div class="text">
                            <h2><i class="icon-41"></i>Join Us & Increase Your <br />Business.</h2>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-12 col-sm-12 form-column">
                        <div class="form-inner ml_30 mt_5">
                            <form action="http://azim.commonsupport.com/Optcare/index-3.html" method="post">
                                <div class="form-group">
                                    <input type="email" name="email" placeholder="Your email address" required="">
                                    <button type="submit" class="theme-btn">Subscribe</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </section> {% endcomment %}
        <!-- subscribe-section end -->


        {% endblock body %}
