{% extends 'base.html' %}
{% load static %}
{% load i18n %}


{% block body %}

        <!-- Page Title -->
        <section class="page-title">

            {% comment %}
                <div class="bg-layer" style="background-image: url({% static 'images/background/page-title.jpg' %});"></div>
                <div class="bg-layer" style="background-image: url({% static 'images/background/page-title.jpg' %});"></div>
                <div class="bg-layer" style="background-image: url({{service.service_banner}});"></div>
            {% endcomment %}

            <div class="auto-container">

                {% comment %}
                <div class="bg-layer" style="background-image: url({% static 'images/baner_web.png' %});"></div>
                {% endcomment %}

                <div class="content-box">
                    <h1>{% trans 'Xidmətlər' %}</h1>
                    <ul class="bread-crumb clearfix">
                        <li><a href="{% url 'index' %}">{% trans 'Ana Səhifə' %}</a></li>
                        <li>{% trans 'Xidmətlər' %}</li>
                    </ul>
                </div>
            </div>
        </section>
        <!-- End Page Title -->






        <!-- service-style-two -->
        <section class="service-page-section p_relative">
            <div class="auto-container service-card">
                <div class="row clearfix ">
                    {% for service in services %}
                    <div class="col-md-6 col-sm-12 service-block">
                        <div class="service-block-one wow fadeInUp animated" data-wow-delay="00ms" data-wow-duration="1500ms">
                            <div style="width:402px ;height:566px" class="inner-box services-container">
                                <figure class="image-box">
                                    <img style="width:352px ;height:244px;object-fit:cover;" src="{{service.image.url}}" alt="">
                                    <a href="{{service.get_absolute_url}}"><i class="fas fa-link"></i></a>
                                </figure>
                                <div class="lower-content">
                                    <div class="icon-box"><i class="icon-17"></i></div>
                                    <h3><a href="{{service.get_absolute_url}}">{{service.title}}</a></h3>
                                    <p class="p_relative d_block">{{service.text|truncatechars_html:50|safe}}</p>
                                    <div class="link p_relative d_block"><a href="{{service.get_absolute_url}}">{% trans 'Davamını Oxu' %}</a></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </section>
        <!-- service-style-two end -->

        {% endblock body %}
